pkgbase = freerdp-git
	pkgdesc = Free implementation of the Remote Desktop Protocol (RDP)
	pkgver = 99999.2.0.0.rc4.r1096.g94711084a
	pkgrel = 1
	url = http://www.freerdp.com/
	arch = x86_64
	license = Apache
	makedepends = alsa-lib
	makedepends = cmake
	makedepends = docbook-xsl
	makedepends = faac
	makedepends = faad2
	makedepends = ffmpeg
	makedepends = krb5
	makedepends = libpulse
	makedepends = systemd-libs
	makedepends = xmlto
	makedepends = xorgproto
	depends = dbus-glib
	depends = glib2
	depends = glibc
	depends = gsm
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = lame
	depends = libcups
	depends = libjpeg-turbo
	depends = libgssglue
	depends = libsoxr
	depends = libusb
	depends = libxkbcommon
	depends = libxinerama
	depends = libxkbfile
	depends = libxrandr
	depends = mbedtls
	depends = openssl
	depends = pam
	depends = pcsclite
	depends = wayland
	provides = freerdp
	provides = libwinpr-tools2.so
	provides = libfreerdp-client2.so
	provides = libfreerdp2.so
	provides = libwinpr2.so
	conflicts = freerdp
	source = freerdp::git://github.com/amosbird/FreeRDP.git
	sha256sums = SKIP

pkgname = freerdp-git
	depends = dbus-glib
	depends = glib2
	depends = glibc
	depends = gsm
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = lame
	depends = libcups
	depends = libjpeg-turbo
	depends = libgssglue
	depends = libsoxr
	depends = libusb
	depends = libxkbcommon
	depends = libxinerama
	depends = libxkbfile
	depends = libxrandr
	depends = mbedtls
	depends = openssl
	depends = pam
	depends = pcsclite
	depends = wayland
	depends = libasound.so
	depends = libavcodec.so
	depends = libavutil.so
	depends = libfaac.so
	depends = libfaad.so
	depends = libpulse.so
	depends = libsystemd.so
	depends = libudev.so

